<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    TheNewsIL
  </a>
  <div class="logout-button">
    <a class="nav-link logout-text" href="/">Full Version</a>
  </div>
  &nbsp;
  <div class="logout-button">
    <a class="nav-link logout-text" href="/logout">Log Out</a>
  </div>
</nav>