<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body class="container">


  <script>
    function time() {
      const now = new Date();
      now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
      console.log(now.toISOString().split(".")[0])
      console.log(now.toISOString().slice(0, 16))
      document.getElementById('datetime').value = now.toISOString().slice(0, 16);
    }
    window.addEventListener('load', () => {
      console.log("loaded");
      time()
    });
  </script>


  <header>
    <%- include('../partials/header'); %>
  </header>

  <main>
    <div class="row">
      <div class="col-sm-12">
        <div class="well">
          <div class="jumbotron">
            <div class="main-container">
              <div class="update-update-container">
                <form method="post" action="/create">
                  <div><select name="topic" id="topic" class="article-topic" placeholder="topic" rows="1">
                    <option selected value="חדשות">חדשות</option>
                    <option value="ביטחון">ביטחון</option>
                    <option value="פוליטיקה">פוליטיקה</option>
                    <option value="כלכלה">כלכלה</option>
                    <option value="מדיני">מדיני</option>
                    <option value="חינוך">חינוך</option>
                    <option value="בריאות">בריאות</option>
                    <option value="ספורט">ספורט</option>
                  </select></div>
                  <div><input type="datetime-local" name="datetime" id="datetime"></div>
                  <hr class="article-hr" width="10%" align="right" />
                  <div><textarea name="image" id="image" class="article-body" style="direction: ltr; text-align:right; resize:none" placeholder="נתיב קובץ תמונה" rows="1">/imgdefault.png</textarea></div>
                  <hr class="article-hr" width="10%" align="right" />
                  <div><textarea name="title" id="title" class="article-body" style="resize:none" placeholder="כותרת קצרה" rows="1"></textarea></div>
                  <hr class="article-hr" width="10%" align="right" />
                  <div><textarea name="heading" id="heading" class="article-body" placeholder="כותרת הכתבה" rows="1"></textarea></div>
                  <hr class="article-hr" width="10%" align="right" />
                  <div><textarea name="author" id="author" class="article-body" style="resize:none" placeholder="author" rows="1">חדשות ישראל</textarea></div>
                  <hr class="article-hr" width="10%" align="right" />
                  <div><textarea name="body" id="body" class="body" placeholder="תוכן" rows="9"></textarea></div>
                  <div><button class="sendbutton">Publish</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>